*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

/*---- Body ----- */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50%;
    height: 50%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{ /*punaiset viivat nav-linkkien alla*/
    content: '';
    width: 0%;
    height: 2px;
    background: lightblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*It will be the center of the div*/
    text-align: center;
}

.text-box h1{
    font-size: 52px;
}

.text-box p{
    margin: 10px 0 40px; /*10px from top, 0 from left & right, 40px from bottom*/
    font-size: 14px;
    color: white;
}

.header-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.header-btn:hover{
    border: 1px solid lightblue;
    background: lightblue;
    transition: 1s;
}

nav .fas{
    display: none;
}

/*---- Responsive ----- */


@media(max-width: 700px){ /*making it responsive*/
    /*small device*/
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: lightblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
    .info-col{
        flex-direction: column;
    }
}

/*---- About/Meistä -----*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between
}

.about-col{
    flex-basis: 31%;
    background: lightblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

/*---- Info ----- */

th, td {
    text-align: center;
}

th {
    background-color: rgb(75, 188, 226);

}
tr:nth-child(even) {
    background-color: rgb(191, 239, 255);
}

h1{
    font-size: 36px;
    font-weight: 600;
}

.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.info-col{
    flex-basis: 31%;
    background: lightblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.info-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

.p-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    margin: 4%;
    font-size: 13px;
    background: rgb(154, 222, 245);
    position: relative;
    cursor: pointer;
}

.p-btn:hover{
    border: 1px solid rgb(75, 188, 226);
    background: rgb(79, 208, 252);
    transition: 1s;
}

.employeeList{
    color: black;
}

/*---- Footer ----- */


#footer{
    width: 100%;
    min-height: 20vh;
    color: rgb(0, 56, 75);
    background-color: rgb(0, 56, 75);
    text-align: center;
}

#footer p{
    font-size: 14px;
    color: white;
}